<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <processMessage>
        <processor set:type="Sitecore.Support.Forms.Core.Pipelines.ProcessMessage, Sitecore.Support.67710" method="ExpandTokens">
          <ItemRepository ref="/sitecore/wffm/itemRepository" />
          <FieldProvider ref="/sitecore/wffm/fieldProvider" />
        </processor>
      </processMessage>
    </pipelines>
  </sitecore>
</configuration>